/* Existing CSS code */

/* Add a media query for screens with a max-width of 600px */
@media screen and (max-width: 600px) {

    /* Reset some global styles for smaller screens */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        width: 100%;
    }

    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    :root {
        --navbar-height: 10vh;
    }

    /* Adjust header and navigation bar styles for smaller screens */
    header {
        width: 100%;
        background-color: rgba(198, 167, 198, 0.65);
    }

    .navbar {
        margin: 0;
        flex-direction: column;
        width: 100%;
        border-radius: 0%;
        transition: all 0.7s ease-in-out;
        height: 50vh;
    }

    .nav-list {
        text-align: center;
        /* border: 2px solid green; */
    }

    a:before,
    a::after {
        content: none;
    }

    .h-nav-resp {
        height: 10vh;
    }

    .v-class-resp {
        opacity: 0;
    }

    .logo {
        margin: 0;
        padding: 0;
    }

    .navbar ul {
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .navbar ul li {
        /* border: 2px solid blue; */
        padding: 4px;
        margin: 4px;
    }

    .navbar ul a {
        padding: 1px;
        /* border: 2px solid green; */
    }

    .burger {
        display: block;
    }

    /* Adjust home page styles for smaller screens */
    #home {
        /* background-color: yellowgreen; */
        width: 100%;
        overflow: hidden;
        position: relative;
    }



    .content {
        padding: 5px;
    }

    .content h1 {
        /* border: 2px solid green; */
        width: fit-content;
    }

    .content p {
        /* border: 2px solid red; */
        width: fit-content;
    }

    /* About Us Section */
    #about {
        flex-direction: column;
        height: auto;
    }

    #about .image {
        display: none;
    }

    #about .matter {
        width: 100%;
        padding: 5px;
        background-image: url("../img/aboutResp.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #about .matter h2 {
        margin: 10px 0;
        font-size: 1.7rem;
    }

    #about .matter p {
        /* border: 2px solid red; */
        margin: 10px 0;
        padding: 20px;
        font-size: 1.2rem;
        line-height: 1.3;
    }

    /* Treatment Section */
    /* Testimonials Section */
    #testimonials .component h4 {
        margin: 5px;
        padding: 5px;
        font-size: 3rem;
    }

    #testimonials .component p {
        margin: 5px;
        padding: 5px;
        font-size: 1.2rem;
    }

    /* Contact Section */
    #Contact-box form h5 {
        font-size: 2rem;
        width: auto;
        height: auto;
        margin: 15px;
        padding: 15px;
    }

    #Contact-box form button {
        width: 45vw;
        margin: 20px 20px;
        border-radius: 25px;
    }

    .contact-button {
        width: 50vw;
    }

    /* Footer */

    /* Update utility classes for smaller screens */
    .primary {
        font-size: 1.5rem;
        padding: 5px;
    }

    .secondary {
        font-size: 1rem;
    }
}