/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    /* background-color: rgba(198, 167, 198, 0.65); */
    scroll-behavior: smooth;
    /* max-width: 100vw; */
    overflow-x: hidden;
}

/* CSS VARIABLES */
:root {
    --navbar-height: 10vh;
}

header {
    width: 100%;
    background-color: rgba(198, 167, 198, 0.65);
}

/***********************************NAVIGATION BAR*****************************************************/
.navbar {
    display: flex;
    background-color: rgba(198, 167, 198, 0.65);
    justify-content: center;
    align-items: center;
    margin: 30px;
    /* ***************POSITION STICKY*************/
    /* METHOD*/
    /* position: sticky;
    top: 0px;
    z-index: 100; */

    /* METHOD 2 */
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 100;
    border-radius: 20px;

}

.logo {
    margin: 10px 10px;
    /* border: 2px solid red; */
    padding: 10px 10px;
    border-radius: 20%;
}

/* NAVIAGTION BAR: LIST STYLING */

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    /* border: 2px solid purple; */
}

.navbar ul li a {
    text-decoration: none;
    /* border: 2px solid orange; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 20px 20px;
    font-size: 1.5rem;
    /* border-radius: 20px; */
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 10%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 5px;
    margin: 5px 3px;
}



/***************************************Top and Bottom borders come in ******************************************/
a:before,
a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

a:before {
    top: 0px;
    transform: translateY(-10px);
}

a:after {
    bottom: 0px;
    transform: translateY(10px);
}

a:hover:before,
a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/*****************************HOME PAGE SECTION*************************************************/
#home {
    background-color: rgba(158, 43, 158, 0.65);
    height: 100vh;
    overflow: hidden;
    /* cuts the image from the container which is leaked */
    /* overflow: scroll; */
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.slider {
    display: block;
    position: relative;
}

.content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 34px;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: grid;
    place-items: center; */
    z-index: 2;
    width: 50%;
    height: 60%;
}

.content h1 {
    /* border: 2px solid greenyellow; */
    padding: 20px;
    color: white;
    text-align: center;
    /* width: 80%;
     */
    word-wrap: break-word;
    /* max-width: 600px; */
}

.content p {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.slider img {
    display: block;
    /* margin: auto; */
    height: 100vh;
    width: 100vw;
    opacity: 0.7;
    z-index: 1;
}

/********************************************ABOUT US***************************************** */
#about {
    background-color: rgba(131, 74, 131, 0.95);
    color: white;
    display: flex;
    /* height: 800px; */
    height: 100vh;
    width: 100%;
}

#about .image {
    height: 100%;
    width: 50%;
    /* border: 2px solid green; */
}

#about .image img {
    height: 100%;
    width: 100%;
}

#about .matter {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid green; */
    /* background-color: rgba(199, 62, 199, 0.73); */
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 50%;
}

#about .matter h2 {
    /* border: 2px solid red; */
    margin: 20px 0;
    font-size: 3rem;
    text-transform: uppercase;
}

#about .matter p {
    /* border: 2px solid blue; */
    margin: 10px 0;
    font-size: 1.8rem;
    line-height: 1.3;
}

/******************************TREATMENT-SECTION**************************************************  */
#treatment {
    /* background-color: rgba(131, 74, 131, 0.95); */
    /* border-color: rgb(186, 14, 14); */
    /* border: 2px solid black; */
    height: 160vh;
    width: 100%;
}

#treatment .box {
    width: 100%;
    /* height: 90vh; */
    height: 60%;
    background-color: rgba(102, 98, 98, 0.2);
    /* border: 2px solid blue; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/treat7.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
}

#treatment .box h3 {
    /* border: 2px solid green; */
    text-align: center;
    margin: 0;
    padding: 10px;
}

#treatment .box p {
    /* border: 2px solid black; */
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#treatment-slider {
    /* border: 5px solid green; */
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(148, 124, 150);
    margin: 0;
    /* Add this to reset margins */
    padding: 0;
    /* Add this to reset padding */
    position: relative;
    /* Make the container a positioned parent for absolute positioning */

}

.container {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    /* background-color: yellow; */
    /* padding: 60px 0; */
    margin: 0;
    /* Add this to reset margins */
    padding: 0;
    /* Add this to reset padding */
    box-sizing: border-box;
}

.slide-container {
    /* border: 2px solid blue; */
    overflow: hidden;
    padding: 0;
    /* background-color: orange; */
    height: 80%;
    width: 90%;
    /* margin: auto; */
    /* Set the fixed width */
    margin-left: auto;
    /* Auto margin on the left */
    margin-right: auto;
    /* Auto margin on the right */
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin-bottom: auto; */

}

.card {
    /* border: 2px solid greenyellow; */
    background: #5800e6;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.card .image-box {
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    margin: 0;
    padding: 0;
}

.card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
    margin: 0;
    padding: 0;
    height: 20%;
    width: 100%;
}


.profile-details .name {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}


.swiper-navBtn {
    color: green;
    height: 40px;
    width: 40px;
    transform: translateY(-50%);
    background: orange;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    border: none;
    cursor: pointer;
}

.swiper-button-next-treatment {
    right: 10px;
    /* Adjust the right margin as needed */
    background-color: red;
    background-image: url("../img/rightArrow.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
}

.swiper-button-prev-treatment {
    left: 10px;
    /* Adjust the left margin as needed */
    background-color: red;
    background-image: url("../img/leftArrow.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 24px;
}

.swiper-pagination-bullet {
    background-color: #15d70f;
}

@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }
}


#testimonials {
    /* Adjust this value to control the width of the slider */
    background-color: rgba(131, 74, 131, 0.95);
    /* Set your background color */
    color: rgb(82, 78, 82);
    text-align: center;
    overflow: hidden;
    height: 120vh;
    width: 100%;
    /* border: 2px solid black; */
    background-image: url("../img/test2.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
}

#testimonials .component {
    width: 100%;
    /* height: 90vh; */
    height: 30%;
    /* border: 2px solid blue; */
}

.component h4 {
    margin: 0;
    padding: 4rem;
    font-size: 3.5rem;
    /* border: 2px solid greenyellow; */
}

.component p {
    margin: 0;
    /* border: 2px solid black; */
    padding: 1.5rem;
    font-size: 1.7rem;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

#testimonial-slider {
    height: 70%;
    width: 100%;
    /* border: 5px solid green; */
    margin: 0;
    padding: 0;
    position: relative;
}

.slide-container {
    height: 80%;
    width: 90%;
    /* Set the fixed width */
    margin-left: auto;
    /* Auto margin on the left */
    margin-right: auto;
    /* Auto margin on the right */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 2px solid red; */

}

.slide-content {
    overflow: hidden;
    border-radius: 25px;
    /* border: 2px solid blue; */
    height: 90%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.card {
    border-radius: 25px;
    background-color: #FFF;
    /* border: 2px solid green; */
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: green;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #265DF2;
}

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next-testimonial {
    right: 0;
    background-image: url("../img/rightArrow.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
}

.swiper-button-prev-testimonial {
    left: 0;
    background-color: red;
    background-image: url("../img/leftArrow.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

/* *****************************************************CONTACT SECTION***************************************************************************** */
#contact {
    position: relative;
    height: 200vh;
    width: 100%;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.4);
    background-image: url("../img/contact1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    /* opacity: 0.7; */
}

#contact h5 {
    display: block;
    /* border: 2px solid purple; */
    color: black;
    width: auto;
    height: auto;
    margin: 15px;
    padding: 15px;
    text-align: center;
}


#Contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 34px; */
    /* border: 2px solid red; */
    height: 45%;
}

#Contact-box form {
    width: 55%;
    margin: 0;
    height: 100%;
    /* border: 2px solid blue; */
    /* backdrop-filter: blur(7px); */
}

#Contact-box label {
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid yellow; */
}

#Contact-box input,
#Contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    /* border: 2px solid green; */
    border-radius: 9px;
    font-size: 1.1rem;
}

#Contact-box form button {
    /* border: 2px solid green; */
    padding: 10px;
    background: rgb(232, 13, 1);
    color: white;
    font-size: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 18vw;
    margin: 20px 280px;
    border-radius: 30px;
    /* padding: auto; */
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
#contact-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 45%;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* Text color */
    /* border: 2px solid greenyellow; */
    border-radius: 5px;
    width: 15vw;
    height: 10vh;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    flex-grow: 1;
    /* Distribute space equally among buttons */
}

/* Individual button background colors */
.whatsapp {
    background-color: green;
    border: 0;
    /* Color for the WhatsApp button */
}

.email {
    background-color: crimson;
    /* Color for the Email button */
    border: 0;
}

.call {
    background-color: purple;
    /* Color for the Call button */
    border: 0;
}

.instagram {
    background-color: grey;
    border: 0;
}

.telegram {
    background-color: royalblue;
    border: 0;
}

.linkedin {
    background-color: magenta;
    border: 0;
}

.facebook {
    background-color: maroon;
    border: 0;
}

.contact-button svg {
    margin-right: 10px;
    /* Add some spacing between the icon and text */
    width: 40px;
    /* Set the width of the SVG icon as needed */
    height: 40px;
    /* Set the height of the SVG icon as needed */
}

.contact-button:hover {
    background-color: #0056b3;
    /* Change to a darker shade for hover effect */
}


/* *******************************************FOOTER SECTION*********************************************************************** */
.rights {
    text-align: center;
    background-color: black;
    color: white;
    padding: 7px 0px;
}

/* ****************************************UTILITY CLASSES************************************************* */
/* .primary IS FOR ALL THE HEADING TAGS */
.primary {
    /* font-size: 2.5rem; */
    font-size: 3.5rem;
    padding: 12px;
    font-family: 'Kanit', sans-serif;
}

/* .secondary IS FOR ALL THE PARAGRAPH TAGS */
.secondary {
    /* font-size: 1.5rem; */
    font-size: 1.8rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}